html {
	height: 100%;
}

body {
	background: $brand-dark;
	margin: 0;
	width: 100%;
}

header {
	text-align: center;
	width: 100%;

	h1 {
		@include overlay-shadow;
		color: $brand-light;
		font-family: 'Bitter', 700;
		font-size: 50px;
		margin: 5px 0;
	}
}

a {
	text-decoration: none;
}

main {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	position: fixed;
}

section {
	text-align: center;

	p {
		@include overlay-shadow;
		background: rgba(0, 0, 0, .65);
		color: $brand-light;
		font-family: 'Bitter', 400;
		font-size: 36px;
		padding: 30px 0;
		text-align: center;
	}
}

.banner-bg {
	background: url(../images/hearthstone-bg.jpg) no-repeat;
	background-size: cover;
	filter: blur(5px) brightness(65%);
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	z-index: -1;
}

.circle-btn {
	border: 2px solid;
	border-color: $brand-light;
	border-radius: 100%;
	display: inline-block;
	margin: 20px 0;
	position: relative;
	height: 50px;
	width: 50px;

	.down-arrow {
		@include arrow(135deg);
	}
}
