@mixin clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin overlay-shadow {
	text-shadow:
		3px 3px 0 #000,
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px  1px 0 #000,
		1px  1px 0 #000;
}

@mixin arrow($degrees) {
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  height: 1em;
  left: 0.95em;
  position: absolute;
  top: 0.75em;
  transform: rotate($degrees);
  width: 1em;
}
