$brand-dark: #000;
$brand-light: #fff;
$brand-grey: #afafaf;
$brand-basic: #070508;
$brand-basic-lighter: #1d1621;
$brand-red: #ff7467;
$brand-purple: #ddbcf1;
$brand-blue: #a9e4e7;
$brand-yellow: #fff57c;
