@mixin clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin overlay-shadow {
	text-shadow:
		3px 3px 0 $brand-dark,
		-1px -1px 0 $brand-dark,  
		1px -1px 0 $brand-dark,
		-1px  1px 0 $brand-dark,
		1px  1px 0 $brand-dark;
}

@mixin arrow($degrees) {
  border-right: .2em solid $brand-light;
  border-top: .2em solid $brand-light;
  height: 1em;
  left: .95em;
  position: absolute;
  top: .75em;
  transform: rotate($degrees);
  width: 1em;
}
