//Colors
$brand-dark: #000;
$brand-light: #fff;
$brand-grey: #afafaf;
$brand-basic: #070508;
<<<<<<< HEAD:src/app/_variables.scss
$brand-basic-lighter: #1d1621;
$brand-red: #ff7467;
$brand-purple: #ddbcf1;
$brand-blue: #a9e4e7;
$brand-yellow: #fff57c;
=======
$brand-basic-lighter: #1d1621;
>>>>>>> parent of 1b71a47... Revert to previous markup style, add initial nav styling:app/styles/_variables.scss
